# "org" ensures this Service is used with the correct Serverless Framework Access Key.
org: serverlesspractice009
# "service" is the name of this project. This will also be added to your AWS resource names.
service: productService

provider:
  name: aws
  runtime: nodejs22.x
  region: ap-south-1

resources:
  Resources:
    ProductsImagesBucket:
      Type: AWS::S3::Bucket
      Properties:
        BucketName: products-images-bucket-smhemel-dev
    ProductTable: 
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: Products
        AttributeDefinitions:
          - AttributeName: id
            AttributeType: S
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST

functions:
  hello:
    handler: handler.hello
    events:
      - httpApi:
          path: /
          method: get
