# "org" ensures this Service is used with the correct Serverless Framework Access Key.
org: serverlesspractice009
# "service" is the name of this project. This will also be added to your AWS resource names.
service: authService

provider:
  name: aws
  runtime: nodejs22.x
  # region: ap-south-1
  environment:
    CLIENT_ID: ${ssm:/CLIENT_ID}
    REGION: ap-south-1 # Instead of region declaration above the environment section, we can declare region here as well and use process.env.REGION on everwhere.

functions:
  hello:
    handler: handler.hello
    events:
      - httpApi:
          path: /
          method: get
  signUp:
    handler: handlers/signUp.signUp
    events:
      - httpApi:
          path: /signup
          method: post
  confirmSignUp:
    handler: handlers/confirmSignUp.confirmSignUp
    events:
      - httpApi:
          path: /confirm-signup
          method: post
  signIn:
    handler: handlers/signIn.signIn
    events:
      - httpApi:
          path: /signin
          method: post
  signOut:
    handler: handlers/signOut.signOut
    events:
      - httpApi:
          path: /signout
          method: post
